services:

    #
    # Event Dispatchers
    #
    gearman.dispatcher.abstract:
        abstract: true
        arguments:
            event.dispatcher: "@event_dispatcher"

    gearman.dispatcher.callbacks:
        parent: gearman.dispatcher.abstract
        class: %gearman.dispatcher.callbacks.class%
