services:

    #
    # Generators
    #
    gearman.unique_job_identifier:
        class: %gearman.unique_job_identifier.class%
        arguments:
            generate_unique_key: %gearman.default.settings.generate_unique_key%
